.landing {
	a {
		background-color: var(--main);
		color: var(--complement);
		
		text-align: center;
		text-decoration: none;
		
		padding: 10px 20px;
		margin: 0px 25px;
	
		width: 100px;
	}
} // landing